/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-facebook {
  background-image: url(sprite.png);
  background-position: 0px -42px;
  width: 47px;
  height: 47px;
}
.icon-gihtub {
  background-image: url(sprite.png);
  background-position: -47px -42px;
  width: 47px;
  height: 47px;
}
.icon-logo-hor копия {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 179px;
  height: 42px;
}
.icon-logo-hor {
  background-image: url(sprite.png);
  background-position: -94px -89px;
  width: 50px;
  height: 40px;
}
.icon-tw {
  background-image: url(sprite.png);
  background-position: -94px -42px;
  width: 47px;
  height: 47px;
}
.icon-vk {
  background-image: url(sprite.png);
  background-position: 0px -89px;
  width: 47px;
  height: 47px;
}
.icon-vk_hover {
  background-image: url(sprite.png);
  background-position: -47px -89px;
  width: 47px;
  height: 47px;
}
