body{
    background-image: url("../img/bg.png");
    height:100%;
}

header, footer, .post{
    background-color: #eff3f7;

}
header{
    display:block;
    height: 150px;
    position: fixed;
    width:100%;
    top:0;

}
main{
    display:block;
    margin:0 auto;
    margin-top: 150px;
    padding-top:40px;
}
nav{
    margin-right: 60px;
    float:left;
}
.post{
    min-height:245px;
}
#wrapper{
    margin:0 auto;
    display:block;
    width:640px;
    position:relative;
}
footer{
    height: 100px;
    position:relative;
    left: 0;
    bottom: 0;
    right:0;
    width: 100%;
}
nav ol li{
    width:250px;
    height:70px;
    border-bottom:1px solid #3ba8c0;
    list-style-type: none;
}
nav ol li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3ba8c0;
}